{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('images/img2.jpg') }}" alt="Tunisian Flag">
    <h1>Hello from Tunisia</h1>
    <p>It's currently {{ 'now'|date('h:i A') }}</p>
{% endblock %}